.header{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    background: #262e45!important;
    padding: 5px;
    box-shadow: 0 9px 8px -10px #262e45;
}

.header div{
    color: #fff !important;
}

.brand-wrapper {
    /* margin-bottom: 19px; */
    FONT-SIZE: 30PX;
    font-weight: 600;
    /* color: #212529; */
    color: #ffffff;
    /* opacity: 0.8; */
    display: flex;
    align-items: center;
    flex-grow: 10;
    
 }
  .brand-wrapper .logo {
    height: 37px;
    margin-right: 8px
  }


  .login-details {
    FONT-SIZE: 16PX;
    color: #ffffff;
    display: flex;
    align-items: center;
    flex-grow: 2;
    justify-content: flex-end;
    padding: 0px 10px;
    
 }
  .login-details .logo {
    height: 37px;
    margin-right: 8px
  }


  ::ng-deep button.mat-menu-item {
    width: 100%;
    height: 2em;
    line-height: 2em;
    outline: none !important;
}

.login-details button {
    /* height: 3em; */
    padding: 2px;
    outline: none !important;
    FONT-SIZE: 12px;
    border: none !important;
    border-radius: 3px;
    background: none;
    color: #fff;
}